
.swiper-wrapper{
  position: relative;
  opacity: 1;
  z-index: -1;
}
.swiper-slide {
  position: relative;
  background-image: url(../../images/slider/1.jpg);
  
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-caption{
  max-width: 550px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.slider-caption>div {
  color: #f7f7f7;
}
.slider-caption .title{
  font-size: 4.750rem;
  margin: 0;
}
.slider-caption .content{
  font-size: 1.5rem;
  margin: 30px 0 10px 0;
}
.slider-caption .static-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 30px 0 0 0;
}


/* Arrow angle */
.slider-arrow-left {
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.335);

  color: rgba(255,255,255,.8);
  text-align: center;
  cursor: pointer;

  position: absolute;
  top: 50vh;
  left: 0;
}
.slider-arrow-right{
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.335);

  color: rgba(255,255,255,.8);
  text-align: center;
  cursor: pointer;

  position: absolute;
  top: 50vh;
  right: 0;
}
.slider-arrow-right:hover,
.slider-arrow-left:hover {
  background-color: black;
}
.fa-angle-left,
.fa-angle-right {
  font-size: 34px;
  line-height: 50px;
}

/* SWD slider*/
@media (max-width: 991.98px){
  .slider-caption .title{
    /* font-size: 3.4rem; */
    font-size: 5.5vw;
  }
  .slider-caption .content{
    /* font-size: 1.590rem; */
    font-size: 2.6vw;
  }
}
@media (max-width: 767.89px){
  .slider-caption{
    height: 60vh;
  }
  .swiper-slide{
    position: absolute;
    width: 100vw;
    height: unset;
    background-size: cover;
  }
  .slider-arrow-left{
    top: 40vh;
  }
    .slider-arrow-right{
    top: 40vh;
  }
}